<!DOCTYPE html>
<html>
  <head>
    <title>CopX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type="text/javascript">
      window.brentURL = "<%= image_url('coplogo.png') %>";
    </script>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
