<!DOCTYPE html>
<html>
  <head>
    <title>CopX</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f64eaac00e.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type="text/javascript">
      window.coplogoURL = "<%= image_url('coplogo.png') %>";
      window.coplogowhiteURL = "<%= image_url('copxlogowhite.png') %>";
      window.aj6URL = "<%= image_url('homepageaj6.jpg') %>";
      window.indexaj1URL = "<%= image_url('indexaj1.png') %>";
      window.ajhomepageURL = "<%= image_url('aj11-homepage.jpg') %>";
      window.adidashomepageURL = "<%= image_url('adidas-homepage.jpg') %>";
      window.nikehomepageURL = "<%= image_url('nike-homepage.jpg') %>";
      window.yeezyhomepageURL = "<%= image_url('yeezy-homepage.jpg') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
